.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.nav_items {
  font-size: 20px;
  color: yellow;
  text-decoration: none;
  display: inline-block;
}

.nav_logo {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: white;
}


.numberHard {
  font-size: 20px;
  background-color: yellow;
  width: 50%;
  text-align: center;
  color: black;

}

.iconoCarrito {
  height: 60px;
  width: 40px;
  margin: 15px;

}


.text-prop {
  text-align: center;
}